::-webkit-scrollbar { 
    display: none; 
}
body {
    -ms-overflow-style: none;
    background-color: rgb(240,240,240);
    margin: 0;
    margin-top:60px;
    font-family: 'Courier New', Courier, monospace;
    
}
.navigatsioon{
    font-size: 20px;
    background-color: #2d3436;
    box-shadow: 0px 2px 2px #2d3436;
    position: fixed;
    top: 0;
    width: 100%;
    text-align:center; 
    height: 33px;
}
.navigatsioon .navinupp:first-child{
    border-bottom-left-radius: 5px;
}

.navigatsioon .navinupp:last-child{
    border-bottom-right-radius: 5px;
}

.navinupp {
    
    background-color: #636e72;
    padding: 6px 30px;
    transition:.3s;
    display: inline-block;
    margin-left: -4px;
    margin-right: -4px;
    font-weight: bold;
    
}
.navinupp:link{
    color: #dfe6e9;
    text-decoration: none;
}
.navinupp:visited {
    color: #dfe6e9;
    text-decoration: none;
  }
.navinupp:hover{
    background-color: #74b9ff;
    color: #2d3436;
}

.tekst{
    font-family: 'Courier New', Courier, monospace;
}

.alapealkiri{
    font-size: 3vw;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 100vw;
    padding-bottom: 30px;
}

.banner {
    margin-top: -30px;
}
.banner img{
    border-radius: 0;
    width: 100%;
    box-shadow: 0px 0px 20px;
}

.floated{
    float: right;
    margin-right: 7%;
    width: 15%;
    text-align: center;
}

.põhi{
    padding-bottom: 20vh;
}