

body {
  background-image: url("http://kodu.ut.ee/~helar/images/muudtaust.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-attachment: scroll;
  
}

.tekst {
  font-size: 1.9vw;
  color: white;
  text-shadow:
  -0.1vw -0.1vw 0 #000,
  0.1vw -0.1vw 0 #000,
  -0.1vw 0.1vw 0 #000,
  0.1vw 0.1vw 0 #000;
  text-align: left;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 10vh;
  padding: 1vw;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight:bold;
  
}

.header {
  font-size: 3vw;

  color: white;
  text-shadow:
  -0.1vw -0.1vw 0 #000,
  0.1vw -0.1vw 0 #000,
  -0.1vw 0.1vw 0 #000,
  0.1vw 0.1vw 0 #000;
  text-align: center;
  font-weight:bold;
}

img {
  border-radius:8px;
  border: 0.3vw solid;
  border-color: white;
  height: auto;
  box-shadow: 0px 0px 10px;

  width: 40vw
  
}




.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}


.left {
  left: 0;
  margin-top: 30px;
  
}


.right {
  right: 0;
  margin-top: 30px;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.centered img {
  width: 150px;
  border-radius: 50%;
}