body {
    
}
.alapealkiri{
    font-size: 50px;
    max-width: 100vw;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 30px;
}
.tekst { 
    text-align: left;
    font-size: 35px;
    max-width: 100vw;
    margin-left:2%;
    margin-bottom:10% ;
}

img {
    border-radius: 10%;
    margin-left: 10px;

}
.container{
    width: 1500px;
}
.floated{
    float: right;
    width: 10px;
}
.videoWrapper {
	position: absolute;
    padding-top: 250px;
    padding-bottom: 1000px;
    height: 0;
    margin-left: 5%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	width: 550px;
    height: 340px;
    
}
.banner {

}
.banner img{
    border-radius: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-left: 0;
}